<h1>退会確認</h1>
     <p>本当に退会してもよろしいでしょうか？</p>
     <% if user_signed_in? && @user.id == current_user.id %>
      <%= link_to "退会する", users_hide_path(current_user), method: :patch, class: "btn btn-outline-danger" %>
     <% end %>
      <%= link_to "退会しない", user_path(current_user), class: "btn btn-primary" %>