<div class='row'>
  <div class="picture" style="width:100%">
    <div class="mx-auto" style="width:70%">
      <div class="box"><br>
        <div class="field">
          <h1>
            退会確認
          </h1>
          <p>
            本当に退会してもよろしいでしょうか？
          </p>
          <% if user_signed_in? && @user.id == current_user.id %>
           <%= link_to "退会する", users_hide_path(current_user), method: :patch, class: "btn btn-outline-danger" %>
          <% end %>
          <%= link_to "退会しない", user_path(current_user), class: "btn btn-outline-light rounded-pill" %>
        </div><br><br>
      </div>
    </div>
  </div>
</div>