<% if resource.errors.any? %>
  <div id="error_explanation">
      <% resource.errors.full_messages.each do |message| %>
        <p><div class="field"><%= message %></div></p>
      <% end %>
  </div>
<% end %>
