<div class='row'>
   <div class="picture" style="width:100%">
    <div class="mx-auto" style="width:50%">
      <div class="box">
       <div class="field">
           <p>500
             お探しのページは見つかりませんでした。<br>
             恐れ入りますが、処理をやり直してください。
           </p>
           <%= link_to 'TOPに戻る', root_path, class: 'btn btn-outline-light btn-lg rounded-pill' %>
       </div>
      </div>
    </div>
   </div>
</div>