<script src="https://cdn.jsdelivr.net/gh/mntn-dev/t.js/t.min.js"></script>
<div class="picture">
 <div class="field">
<p id="hoge">
  <span style="font-size:100px;">Word Share!</span><br><br>
  <span style="font-size:50px;">Words Sharing Community !!</span><br>
    <span style="font-size:30px;">
     <br><span style="font-size:50px;">W</span>ords tweeting 言葉をつぶやいた後<br>
     <br><span style="font-size:50px;">S</span>haring with words 共有することで<br>
     <br><span style="font-size:50px;">C</span>ommunicate 交流しましょう！!
    </span>
 </p>
 </div>
 </div>
