<script src="https://cdn.jsdelivr.net/gh/mntn-dev/t.js/t.min.js"></script>
<!--タイピングjs <p id="hoge">で使いたいviewページにタグで囲うことで適用可能。-->
 <div class='row'>
  <div class="picture" style="width:100%">
   <div class="field">
     <div class="mx-auto" style="width:50% ">
      <div class="box">
        <p id="hoge">
          <span style="font-size:45px;">Word Share!</span><br><br>
          <span style="font-size:25px;">〜 Words Sharing Community 〜</span><br>
           <span style="font-size:15px;">
            <br><span style="font-size:25px;">W</span>ords tweeting 言葉をつぶやいた後<br>
            <br><span style="font-size:25px;">S</span>haring with words 共有することで<br>
            <br><span style="font-size:25px;">C</span>ommunication 交流しましょう！!
           </span>
        </p>
      </div>
     </div>
    </div>
   </div>
  </div>
