<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="picture">
  <div class="type">
  <p class="text-center">Word Share!<br>Words Sharing Community
    <span style="font-size:20px; background: none;">
     <br><span style="font-size:35px; background: none;">W</span>ords tweeting 言葉をつぶやいた後
     <br><span style="font-size:35px; background: none;">S</span>haring with words 共有することで
     <br><span style="font-size:35px; background: none;">C</span>ommunity get　友達作りましょう！
    </span>
  </p>
  </div>
</div>
