<div class='row'>
   <div class="picture" style="width:100%">
    <div class="mx-auto" style="width:50%">
      <div class="box">
  <div class="field"><span style="font-size:px;"><p>お問い合わせ頂きありがとうございました。</span></p>
</div>
</div>
</div>
</div>
</div>
