// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// // /************************************
// // ** チャットの吹き出し
// // ************************************/
#sentence{
  padding: 20px 10px;
  max-width: 50%;
  margin: 15px auto;
  text-align: center;
  font-size: 14px;
}
.fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  background: none;
}
.fukidasi .chatting {
  width: 100%;
  background: none;
  margin: 0 0 0 150px;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 350px;
  border-radius: 12px;
  background:  #30e852;
  text-align: right;
}

.says p {
  margin: 0;
  padding: 0;
  background: #30e852;
}
.mycomment {
  margin: 10px 0;
  text-align: left;
  background: none;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

/************************************
** 送信フォーム
************************************/
.send-form{
  text-align:center;
  margin-bottom:200px;
}

@media screen and (max-width:425px) {
 #sentence{
  padding: 20px 10px;
  max-width: 70%;
  margin: 15px auto;
  text-align: center;
  font-size: 14px;
}
}

@media screen and (max-width:425px) {
 .fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
   background: none;
}
}

@media screen and (max-width:425px) {
 .fukidasi .chatting {
  width: 100%;
  background: none;
  margin: 0 0 0 20px;
}
}

@media screen and (max-width:425px) {
 .says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 350px;
  border-radius: 12px;
  background:  #30e852;
  text-align: right;
}
}

@media screen and (max-width:425px) {
 .says p {
  margin: 0;
  padding: 0;
  background: #30e852;
}
}

@media screen and (max-width:425px) {
 .mycomment {
  margin: 10px 0;
  text-align: left;
  background: none;
}
}

@media screen and (max-width:425px) {
 .mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
}


@media screen and (max-width:425px) {
 .send-form{
  text-align:center;
  margin-bottom:200px;
}
}