// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture {
  position: relative;/*相対配置*/
  height: 100vh;
  width: 100%;
  background-image: image-url('top_picture.jpg');
  background-size:cover;
}

.field{
    margin-bottom: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin:0;
    background: none;
  }

  .box{
   margin-top: 10%;
  }
  
  .owl-carousel{
    background-image: image-url("about_1.png");
    background-image: image-url("about_2.png");
    background-image: image-url("about_3.png");
  }

  
// スマートフォンサイズ対応のため、レスポンシブ設定
  @media screen and (max-width:425px) {
   .picture {
  position: relative;/*相対配置*/
  height: 100vh;
  width: 100%;
  background-image: image-url('top_picture.jpg');
  background-size:cover;
 }
}

@media screen and (max-width:425px) {
   .field{
    margin-bottom: 5%;
    text-align: center;
    top: 30%;
    left: 50%;
    margin:0;
    background: none;
  }
}

@media screen and (max-width:425px) {
   .box{
   margin-top: 5%;
  }
}

@media screen and (max-width:425px) {
   .owl-carousel{
    background-image: image-url("about_1.png");
    background-image: image-url("about_2.png");
    background-image: image-url("about_3.png");
  }
}


@media screen and (max-width:425px) {
   .space{
 text-align: center;
  }
}