// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.box{
   margin-top: 15%;
  }

.field{
    margin-bottom: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin:0;
  }

.actions{
    text-align: center;
    font-size: 30px;
  }

.product-box {
	float: left;
	margin-right: 22px;
	margin-top: 20px;
	padding: 20px;
	border:2px dotted  white;
}

.postbox{
margin-top: 3%;
}

.container {
  display: flex;
}

.info{
  margin-left: 10%;
  line-height: 30px;
}

.profile{
  margin-left: 10%;
}

@media screen and (max-width:425px) {
 .box{
   margin-top: 15%;
  }
}

@media screen and (max-width:425px) {
 .field{
    margin-bottom: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin:0;
  }
}

@media screen and (max-width:425px) {
 .actions{
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width:425px) {
 .product-box {
	float: left;
	margin-right: 22px;
	margin-top: 20px;
	padding: 20px;
	border:2px dotted  white;
}
}

@media screen and (max-width:425px) {
 .postbox{
margin-top: 3%;
font-size: 16px;
}
}

@media screen and (max-width:425px) {
 .container {
  display: flex;
  flex-direction: column;
}
}

@media screen and (max-width:425px) {
 .info{
  margin-left: 10%;
  line-height: 30px;
}
}

@media screen and (max-width:425px) {
.profile{
  margin-left: 10%;
}
}
