
<footer>
    <div class='row'>
      <div class='mx-auto'>
        <br><p><%= link_to 'お問い合わせ', inquiry_path, class: "btn btn-outline-light btn-lg rounded-pill" , data: {"turbolinks"=>false} %></p>
      </div>
    </div>
</footer>